[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aquitard/Desktop/Why.We.Hate.S01E01.Origins.WEBRip.x264-CAFFEiNE[eztv].mkv]
row=4
col=1

[/home/aquitard/Desktop/Hearts of Iron IV.desktop]
row=7
col=1

[/home/aquitard/Desktop/1.png]
row=8
col=0

[/home/aquitard/Desktop/Hearts of Iron IV Man the Guns.lnk]
row=6
col=0

[/home/aquitard/Desktop/[Golumpa] My Hero Academia S4 - 02 (Boku no Hero Academia) [FuniDub 720p x264 AAC] [2C41C15E].mkv]
row=1
col=2

[/home/aquitard/Desktop/It.Chapter.Two.2019.HC.HDRip.XviD.AC3-EVO]
row=5
col=0

[/home/aquitard/Desktop/Windows 10 Pro v1903 x64 en-US Activated-KBO]
row=1
col=1

[/home/aquitard/Desktop/Fast.and.Furious.Presents.Hobbs.and.Shaw.2019.HDRip.XviD.AC3-EVO]
row=4
col=0

[/home/aquitard/Desktop/My.Hero.Academia.S04E02.WEB.x264-URANiME[eztv].mkv]
row=8
col=1

[/home/aquitard/Desktop/Hearts of Iron IV Man the Guns.desktop]
row=7
col=0

[/home/aquitard/Desktop/[Golumpa] My Hero Academia S4 - 02 (Boku no Hero Academia) [FuniDub 1080p x264 AAC] [18D2DE86].mkv]
row=0
col=2

[/home/aquitard/Desktop/Why.We.Hate.S01E02.720p.WEB.x264[eztv].mkv]
row=2
col=1

[/home/aquitard/Desktop/FTL Faster Than Light.desktop]
row=6
col=1

[/home/aquitard/Desktop/steam.desktop]
row=5
col=1

[/home/aquitard/Desktop/[Golumpa] My Hero Academia S4 - 01 (Boku no Hero Academia) [FuniDub 720p x264 AAC] [5921FD6D].mkv]
row=0
col=1

[/home/aquitard/Desktop/Why.We.Hate.S01E03.480p.x264-mSD[eztv].mkv]
row=3
col=1

[6ed7f846-8731-4384-b226-46000feb49ad]
row=0
col=0

[boot]
row=1
col=0

[/]
row=2
col=0

[/home/aquitard]
row=3
col=0

